



    <footer id="footer">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Fernando Quezada Puño &copy; </h2>
                <p>Si deseas  mayor info sobre mi  solo debes</p>
                <h3 class="contacto-titulo">Contactame 🢃 o segirme en mis redes 🢂</h3>
                <p class="contacto-texto"></p>
                <a href="mailto:fdoquezadapuno@gmail.com" class="contacto-email">fdoquezadapuno@gmail.com</a>
            </div>
           
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>  
                </a>    
                <a href="https://www.linkedin.com/in/fernando-quezada-pu%C3%B1o-0b99b957/" class="social-media-icon">
                    <i class='bx bxl-linkedin-square'></i>
                </a> 
                <a href="https://discord.com/channels/959147429482094592/960748411492139078" class="social-media-icon">
                    <i class='bx bxl-discord-alt' ></i>
                </a> 
                <a href="https://github.com/fdoquezada" class="social-media-icon">
                   
                    <i class='bx bxl-github'></i> 
                </a> 
                <a href="https://www.instagram.com/elferna_2/" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                    </a>
        
            </div>
        
        </div>
        <div class="line"></div>
    
    </footer>
    <script src="js/index.js"></script>
</body>
</html>
